{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content w-full lg:flex-row-reverse">
            <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                <div class="card-body">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <fieldset class="fieldset">
                            <label for="username" class="label">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="input" placeholder="Email" autocomplete="email" required autofocus>
                            <label for="password" class="label">Password</label>
                            <input type="password" name="_password" id="password" class="input" placeholder="Password" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="flex items-center gap-2 mt-2">
                                <input type="checkbox" name="_remember_me" id="_remember_me" class="checkbox">
                                <label for="_remember_me" class="label cursor-pointer">Remember me</label>
                            </div>

                            <div class="mt-2">
                                <a href="{{ path('app_forgot_password_request') }}" class="link link-hover">Forgot password?</a>
                            </div>

                            <button class="btn btn-neutral mt-4" type="submit">
                                Login
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
