{% extends 'base.html.twig' %}

{% block title %}Symfobook | Home
{% endblock %}

{% block body %}
	<div class="bg-base-100 min-h-screen mt-16">
		<div class="hero-content text-center flex justify-between">
			<div class="max-w-md">
				{% if app.user %}
					<h1 class="text-5xl font-bold">Hello
						{{ app.user.email }}</h1>
				{% else %}
					<h1 class="text-5xl font-bold">Hello there</h1>
				{% endif %}
				<p class="py-6">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationemquasi. In deleniti eaque aut repudiandae et a id nisi.
				</p>
			</div>
			<div class="stats shadow">
				<div class="stat">
					<div class="stat-title">Total Books</div>
					<div class="stat-value">{{ countBooks }}</div>
				</div>

				<div class="stat">
					<div class="stat-title">Total Users</div>
					<div class="stat-value">{{ countUsers }}</div>
				</div>

				<div class="stat">
					<div class="stat-title">Total Discussions</div>
					<div class="stat-value">{{ countDiscussions }}</div>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-3 gap-4 py-4">
			{% for latestBook in latestBooks %}
				<div class="card bg-base-100 w-96 shadow-sm">
					<figure>
						<img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes"/>
					</figure>
					<div class="card-body">
						<h2 class="card-title">
							{{ latestBook.title }}
							<div class="badge badge-secondary">
								{% for genre in latestBook.genres %}
									{{ genre.name }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							</div>
						</h2>
						<p>{{ latestBook.description|length > 70 ? latestBook.description|slice(0, 70) ~ '...' : latestBook.description }}</p>
						<div class="card-actions justify-end">
							<div class="badge badge-primary">{{ latestBook.author.firstName }}
								{{ latestBook.author.lastName }}</div>
							<div class="badge badge-outline">{{ latestBook.publishedAt|date('Y-m-d') }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
