{% extends 'base.html.twig' %}

{% block title %}Book index
{% endblock %}

{% block body %}
	<h1 class="mt-4 text-xl font-semibold">Books</h1>

	<div class="grid grid-cols-3 gap-4 py-4">
		{% for book in books %}
			<div class="card bg-base-100 w-96 shadow-sm">
				<figure>
					<img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes"/>
				</figure>
				<div class="card-body">
					<h2 class="card-title">
						{{ book.title }}
						<div class="badge badge-secondary">
							{% for genre in book.genres %}
								{{ genre.name }}
								{% if not loop.last %},
								{% endif %}
							{% endfor %}
						</div>
					</h2>
					<p>{{ book.description|length > 70 ? book.description|slice(0, 70) ~ '...' : book.description }}</p>
					<div class="card-actions justify-end">
						<div class="badge badge-primary">
							{% if book.author %}
								{{ book.author.firstName }}
								{{ book.author.lastName }}
							{% else %}
								Unknown
							{% endif %}
						</div>
						<div class="badge badge-outline">{{ book.publishedAt ? book.publishedAt|date('Y-m-d') : '' }}</div>
					</div>
					<a href="{{ path('app_book_show', {'id': book.id}) }}" class="btn btn-sm btn-info mt-2">View</a>
				</div>
			</div>
		{% else %}
			<div class="col-span-3 text-center">no records found</div>
		{% endfor %}
	</div>
{% endblock %}
